/* Custom styles will take precedence over styles defined in current theme */

/* Embedded content */

.embedded-content {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.embedded-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Fix horizontal scrolling that pandoc sets to visible (content not clipped,
and no scrolling). It is easier to read with scrolling, and more consistent
with the rest of the theme to leave it up to the browser (might be important
on mobile browsers). */

.sourceCode {
    overflow: auto !important;
}

/* More comfortable margins around html-widgets and around titles from Rmd
posts that are enclosed in a div with a 'section' class */

.section {
  margin-top: 1.5em;
}

.html-widget {
    margin-bottom: 1.5em;
}

/* Adjust icons */

.social {
  display: inline-block;
  height: 1.1em;
  width: 1.1em;

  stroke: none;
  fill: currentColor;

  position: relative;
  top: 2px;
  right: 2px;
}
